#header{
    background-color:#AA1111;
    position:absolute;
    width:100%;
    height:20%;
    left:0%;
    top:0%;
    font-family: Century Gothic, sans-serif;
    list-style-type:none;
}

#container{
    background-color:#EBEBEB;
    position:absolute;
    width:100%;
    height:60%;
    left:0%;
    top:20%;
    font-family: Century Gothic, sans-serif;
}

#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    left:90%;
}

#road{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.2;
}

#speed{
    position:absolute;
    top:20%;
}

#motto{
    text-align:center;
    font-weight:900;
}

#hometext{
    text-align:center;
}